<launch>
	<arg name="calibration_camera" default="calib_cam"/>
	<arg name="circle_objects" default="true"/>
    <arg name="flip" default="false"/>
	<env name="DISPLAY" value=":0.0"/>
<!-- 	<node name="$(arg calibration_camera)" pkg="usb_cam" type="usb_cam">
	</node>
 -->	
 	<node name="calibrate_projector" type="calibrate.py" pkg="projector_calibration" output="screen" >
		<remap from="image" to="$(arg calibration_camera)/image_mono"/>
		<param name="grid_size" value="5x7"/>
	</node>
	<node name="object_circler" type="object_circler.py" pkg="projector_interface">
		<remap from="camera_info" to="$(arg calibration_camera)/camera_info"/>
		<remap from="intersected_points_cursor" to="/intersected_points"/>
		<param name="flip" value="$(arg flip)"/>
		<param name="window_size" value="25"/>
		<param name="circle_objects" value="$(arg circle_objects)"/>
	</node>
</launch>
