<launch>
	<arg name="use_robot" default="false"/>
	<arg name="wall_cam_name" default="wall_cam"          unless="$(arg use_robot)"/>
	<arg name="wall_cam_name" default="head_mount_kinect" if="$(arg use_robot)"/>
	<arg name="face_cam_name" default="face_cam"/>

	<!-- <param name="/publish_click_camera_display/render_blacklist" value="[]"/> -->

	<include file="$(find projected_lightswitch_interface)/launch/prerequisites.launch">
		<arg name="wall_cam_name" value="$(arg wall_cam_name)"/>
		<arg name="face_cam_name" value="$(arg face_cam_name)"/>
		<arg name="use_robot" value="$(arg use_robot)"/>
	</include>

	<!-- Head pose estimation -->
	<include file="$(find head_pose_estimation)/launch/estimator.launch">
		<arg name="filter_pose" value="false"/>
		<arg name="camera" value="$(arg face_cam_name)"/>
	</include>

	<!-- Table/wall detection + Object segmentation -->
	<include file="$(find projector_interface)/launch/tabletop_segmentation_overhead_kinect.launch" unless="$(arg use_robot)">
		<arg name="tabletop_segmentation_points_in" value="/$(arg wall_cam_name)/depth_registered/points"/>
	</include>
	<node pkg="projector_interface" name="find_objects" type="find_objects.py"/>

	<!-- Interface -->
	<include file="$(find projector_interface)/launch/calibrate_and_circle.launch">
	 	<arg name="calibration_camera" value="/$(arg wall_cam_name)/rgb"/>
	</include>
	
	<node name="rviz_click" pkg="projected_lightswitch_interface" type="click_to_if.py"/>
	
	<node name="intersect_plane" pkg="world_intersect" type="intersect_plane.py">
    	<remap from="pose" to="head_pose"/>
    	<param name="plane_frame" value="/table"/>
  	</node>

<!-- 	<node name="click" type="click.py" pkg="projector_interface"/>
	<node name="wiimote" type="wiimote_node.py" pkg="wiimote"/>
 -->

</launch>