<launch>
	<arg name="use_robot" default="false"/>
	<arg name="wall_cam_name" default="wall_cam"/>
	<arg name="face_cam_name" default="face_cam"/>

	<!-- Kinect camera frames -->
<!-- 	<node
		name="tripod_to_face_cam_frame"
		pkg="reconfigurable_transform_publisher"
		type="reconfigurable_transform_publisher.py"
		args="0.1 -0.05 0 0 0 0 tripod_link $(arg face_cam_name)_link 60"
	/>
	<node
		name="tripod_to_wall_cam_frame"
		pkg="reconfigurable_transform_publisher"
		type="reconfigurable_transform_publisher.py"
		args="0 0.1 0.05 -2.9531 0 0 tripod_link $(arg wall_cam_name)_link 60"
	/> -->

<node name="multi_tf_pub" pkg="lcsr_tf_tools" type="multi_static_transform_publisher.py"/>

<node output="screen"
	name="tripod_to_face_cam_frame"
	pkg="lcsr_tf_tools"
	type="set_multi_static.py"
	args="tripod_link $(arg face_cam_name)_link 100
		 --xyz 0.1 -0.05 0
		 --ypr 0 0 0"
/>
<node output="screen" unless="$(arg use_robot)"
	name="tripod_to_wall_cam_frame"
	pkg="lcsr_tf_tools"
	type="set_multi_static.py"
	args="tripod_link $(arg wall_cam_name)_link 100
	     --xyz  0 0.1 0.05
	     --ypr -2.9531 0 0"
/>
<!-- <node
	name="tripod_to_face_cam_frame"
	pkg="tf"
	type="static_transform_publisher"
	args="0.1 -0.05 0 0 0 0 tripod_link $(arg face_cam_name)_link 100"
/>
<node
	name="tripod_to_wall_cam_frame"
	pkg="tf"
	type="static_transform_publisher"
	args="0 0.1 0.05 -2.9531 0 0 tripod_link $(arg wall_cam_name)_link 100"
/>
 -->
	<!-- Kinect cameras -->
	<include file="$(find openni_launch)/launch/openni.launch">
		<arg name="camera" value="$(arg face_cam_name)"/>
		<arg name="device_id" value="A00367915166050A"/>
	</include>

	<include file="$(find openni_launch)/launch/openni.launch" unless="$(arg use_robot)">
		<arg name="camera" value="$(arg wall_cam_name)"/>
		<arg name="device_id" value="A00362A15947039A"/> 
 	</include>

</launch>