<launch>
  <node name="world_intersect" type="world_intersect" pkg="world_intersect">
    <remap from="cloud" to="laser_cloud_converted"/>
    <remap from="pose" to="head_pose_filtered"/>
  </node>
  <node name="point_head" type="rosh" pkg="rosh" args="$(find world_intersect)/point_head.py"/>
</launch>
