<launch>
	<arg name="camera" default="1"/>
	<node pkg="tf" type="static_transform_publisher" name="world_to_cam" 
		args="0 0 0.5 -1.57 0 -1.57 world camera$(arg camera)_link 100"/>

	<node pkg="tf" type="static_transform_publisher" name="stick" 
		args="-1.047, -0.064, 0.073 0.015, 0.016, 0.732, 0.681 4x4_1 4x4_2 100"/>
		
	<node pkg="tf" type="static_transform_publisher" name="tag1_to_cam2" 
		args="-0.736, -0.257, 1.289 0.016, 0.610, 0.170, 0.774 4x4_1 camera2_link 100"/>
		
		
	<!--node pkg="tf" type="static_transform_publisher" name="cam1_to_tag1" 
		args="1.243, -0.274, -0.343 0.036, -0.048, -0.237, 0.970 camera1_link 4x4_1 100"/-->
		
	

	<node name="ar_pose" pkg="ar_pose" type="ar_multi" respawn="false" output="screen">
		<param name="marker_pattern_list" type="string" value="$(find external_camera_localizer)/data/object_4x4"/>
		<param name="threshold" type="int" value="100"/>
		<remap from="usb_cam/image_raw" to="/camera$(arg camera)/rgb/image_rect"/>
		<remap from="usb_cam/camera_info" to="/camera$(arg camera)/rgb/camera_info"/>
	</node>
</launch>
