<launch>
  <node pkg="pr2_mechanism_controllers" type="send_periodic_cmd_srv.py"
    name="laser_cmd"
    args="laser_tilt_controller linear 10 1 .35" />
	
  <node type="laser_scan_assembler" pkg="laser_assembler" name="tilt_scan_assembler">
    <remap from="scan" to="tilt_scan"/>
    <param name="max_scans" type="int" value="400" />
    <param name="fixed_frame" type="string" value="base_link" />
  </node>
  <node pkg="external_camera_localizer" type="tilt_scan_to_pointcloud.py" name="scan_to_cloud"/>
  <node pkg="point_cloud_converter" type="point_cloud_converter" name="laser_cloud_converter">
	  <remap from="points_in" to="laser_cloud"/>
	  <remap from="points2_out" to="laser_cloud_converted"/>
  </node>
  <include file="$(find external_camera_localizer)/launch/pr2_frames.launch"/>
</launch>
