<launch>
	<arg name="camera1" default="camera1" />
	<arg name="camera2" default="camera2" />
	
	<node pkg="external_camera_localizer" type="transform_pointcloud" name="transform_pointcloud1">
		<remap from="cloud" to="$(arg camera1)/depth_registered/points"/>
		<remap from="cloud_transformed" to="$(arg camera1)/transformed"/>
	</node>

	<node pkg="external_camera_localizer" type="transform_pointcloud" name="transform_pointcloud2">
		<remap from="cloud" to="$(arg camera2)/depth_registered/points"/>
		<remap from="cloud_transformed" to="$(arg camera2)/transformed"/>
		<param name="target_frame" type="string" value="$(arg camera2)_link"/>
	</node>
	
	<node pkg="modular_cloud_matcher" type="cloud_matcher_service" name="cloud_matcher_service" output="screen"/>
	<node pkg="tf" type="static_transform_publisher" name="cam1_tf" args="1 0 0 0 0 0 map $(arg camera1)_link 100"/>
	<!--node pkg="tf" type="static_transform_publisher" name="cam2_tf" args="1 0 0 0 0 0 camera_common camera2_link 100"/-->
</launch>