<launch>
	<arg name="camera1" default="camera1" />
	<arg name="camera2" default="camera2" />

	<include file="$(find external_camera_localizer)/launch/two_kinects.launch">
		<arg name="camera1" value="$(arg camera1)"/>
		<arg name="camera2" value="$(arg camera2)"/>
	</include>

	<node pkg="external_camera_localizer" type="transform_pointcloud" name="transform_pointcloud2_1">
		<remap from="cloud" to="$(arg camera1)/depth/points"/>
		<remap from="cloud_transformed" to="$(arg camera1)/transformed"/>
		<param name="target_frame" type="string" value="$(arg camera1)_link"/>
	</node>
	
	<node pkg="external_camera_localizer" type="transform_pointcloud" name="transform_pointcloud2_2">
		<remap from="cloud" to="$(arg camera2)/depth/points"/>
		<remap from="cloud_transformed" to="$(arg camera2)/transformed"/>
		<param name="target_frame" type="string" value="$(arg camera2)_link"/>
	</node>

	<node pkg="modular_cloud_matcher" type="cloud_matcher_service" name="cloud_matcher_service" output="screen">
  </node>
</launch>
