<launch>
	<arg name="projector_camera_id" default="0"/>
	<arg name="camera" default="projector_cam"/>

	<!-- config -->
	<include file="$(find projector_interface)/study/launch/setup.launch"/>

	<param name="/screen/border_x" type="double" value="0.35"/>
	<param name="/screen/border_y" type="double" value="0.35"/>

	<!-- webcam (only used for camera_info) -->
	<include file="$(find simple_webcam)/launch/camera_pipeline.launch">
		<arg name="camera_id" value="$(arg projector_camera_id)"/>
		<arg name="info_url" value="file://$(find projector_interface)/study/cfg/camera.yaml"/>
		<arg name="camera" value="$(arg camera)"/>
	</include>

	<!-- projection system -->
	<include file="$(find projector_interface)/launch/calibrate_and_circle.launch">
		<arg name="flip" value="false"/>
		<arg name="calibrate" value="false"/>
		<arg name="calibration_camera" value="$(arg camera)"/>
		<arg name="window_size" value="1"/>
	</include>
</launch>