<launch>
  <arg name="cloud_to_intersect" default="laser_cloud_converted"/>
  <node name="world_intersect" type="world_intersect" pkg="world_intersect" output="screen">
    <remap from="cloud" to="$(arg cloud_to_intersect)"/>
    <!-- <remap from="pose" to="head_pose"/> -->
    <remap from="pose" to="head_pose_filtered"/>
    <!-- <param name="octree_resolution" value="0.4"/> -->
    <param name="octree_resolution" value="0.02"/>
    <param name="min_dist" value="0.10"/>
  </node>
  <!--node name="point_to_click" type="point_to_click.py" pkg="world_intersect" output="screen"/-->
</launch>
